@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rt-transition-show-delay: 0.01s !important;
  --rt-transition-closing-delay: 0.01s !important;
  --border-size: 2px;
  --box-width: 36em;
  --box-height: 8em;
  --dash-size: 1em;
}

html {
  scrollbar-gutter: stable;
  color-scheme: dark;
}

.icon-highlight {
  border-width: 2px;
  border-color: #ffff43;
  box-shadow: inset 0 0 6px 3px #ffff43;
}

.text-outline {
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}

.maze {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 160px);
  grid-template-rows: repeat(3, 160px);
  gap: 20px;
}
