@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --rt-transition-show-delay: 0.01s !important;
    --rt-transition-closing-delay: 0.01s !important;
    --border-size: 2px;
    --box-width: 36em;
    --box-height: 8em;
    --dash-size: 1em;
}

html {
    scrollbar-gutter: stable;
}

.icon-highlight {
    border-width: 2px;
    border-color: #ffff43;
    box-shadow: inset 0 0 6px 3px #ffff43;
}
